body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#main_container {
    background-image: url(../assets/Ecran_Ligue_1.png);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.pointer {
    cursor: pointer;
} 

.form_container {
    margin: 50px 5% 0 5%;
}

form {
    margin: auto;
    display: flex;
}

.form_item {
    display: flex;
    margin: auto 100px 20px 20px;
    flex-direction: column;
    width: 60vw;
}

label {
    align-self: flex-start;
    font-size: 30px;
    font-weight: 600;
    background-color: white;
    width: 50%;
    text-align: center;
    padding: 13px 0 15px 0;
    border-radius: 5px;
}

input, select{
    align-self: flex-end;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 2px 10px 0 0;
    width: 68%;
    border-radius: 5px;
}

.submit_container {
    width: 30%;
    display: flex;
}

.submit {
    margin: auto;
    justify-content: center;
    background-color: #00A45E;
    color: #011939;
    font-size: 30px;
    font-weight: 600;
    padding: 15px 0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
}

#delete_account_submit {
    background-color: #d33b3b;
}

.invalid {
    color: red;
    border: 2px solid red;
}

.invalid:focus {
    outline: none;
}