body {
    margin: 0;
    padding: 0;
}

#main_container {
    background-image: url(../assets/Ecran_Ligue_1.png);
    height: 100vh;
    width: 100%;
    display: flex;
}

form {
    margin: auto;
}

.form_item {
    display: flex;
    margin: auto auto 50px auto;
    flex-direction: column;
    width: 60vw;
}

label {
    align-self: flex-start;
    font-size: 50px;
    font-weight: 600;
    background-color: white;
    width: 50%;
    text-align: center;
    padding: 28px 0 30px 0;
    border-radius: 5px;
}

input {
    align-self: flex-end;
    font-size: 45px;
    text-align: center;
    padding: 20px;
    margin: 2px 10px 0 0;
    width: 68%;
    border-radius: 5px;
}

#submit {
    display: flex;
    margin: 75px auto 0 auto;
    justify-content: center;
    background-color: #00A45E;
    color: #011939;
    font-size: 40px;
    font-weight: 600;
    padding: 25px 0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 70%;
}
