.modal {
    display: none; /* Masquer par défaut */
    position: fixed; /* Rester en place (fixe) */
    z-index: 100; /* Assurer que la modale soit au-dessus */
    left: 0;
    top: 0;
    width: 100%; /* Pleine largeur */
    height: 100%; /* Pleine hauteur */
    overflow: auto; /* Activer le défilement si nécessaire */
    background-color: rgb(0,0,0); /* Couleur de fond */
    background-color: rgba(0,0,0,0.4); /* Couleur de fond avec opacité */
}

/* Style pour le contenu de la modale */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% à partir du haut et centré horizontalement */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Peut être ajusté en fonction des besoins */
}

/* Style pour le bouton de fermeture */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}